<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>

  <styleBundle path="~/Content/i/global/css">
    <include path="~/Content/i/global/bootstrap-extend.min.css" />
    <include path="~/Content/i/global/bootstrap.min.css" />
    <include path="~/Content/i/global/v2.2.css" />
    <include path="~/Content/i/global/v2.2_2.css" />
    <include path="~/Content/i/global/v2.2_3.css" />
  </styleBundle>

  <styleBundle path="~/Content/i/topicon/assets/css">
    <include path="~/Content/i/topicon/assets/" />
    <include path="~/Content/i/topicon/assets/" />
    <include path="~/Content/i/topicon/assets/" />
    <include path="~/Content/i/topicon/assets/" />
    <include path="~/Content/i/topicon/assets/" />
  </styleBundle>
</bundles>